<html>
    <head>
<link rel="stylesheet" href="gridstyles.css">
    </head>
    <body>
        <div class="Home-grid">
            <a class="grid-item" id="img1" href="#"><img src="./Services/yoga-min.jpg" alt="Image 1"><div class="image-wrapper"><h1>yoga</h1></div></a>
            <a class="grid-item" id="img2" href="#"><img src="./Services/stretching-min.jpg" alt="Image 2"><div class="image-wrapper"><h1>Stretching</h1></div></a>
            <a class="grid-item" id="img3" href="#"><img src="./Services/calisthenics-min.jpg" alt="Image 3"><div class="image-wrapper"><h1>Calisthenics</h1></div></a>
            <a class="grid-item" id="img4" href="#"><img src="./Services/boxing-min.jpg" alt="Image 4"><div class="image-wrapper"><h1>Boxing</h1></div></a>
            <a class="grid-item" id="img5" href="#"><img src="./Services/powerlifting-min.jpg" alt="Image 5"><div class="image-wrapper"><h1>Power Lifting</h1></div></a>
          </div>
    </body>
</html>